.contact-page {
    padding: 100px 20px;
    background-color: #fff;
  }
  
  .contact-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
  }
  

  .contact-image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  
  .contact-form h2 {
    font-size: 2.2rem;
    margin-bottom: 10px;
  }
  
  .contact-form p {
    margin-bottom: 30px;
    color: #777;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 14px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    font-size: 1rem;
    background-color: #ddd;
  }
  
  .contact-form textarea {
    min-height: 140px;
    resize: none;
  }
  
  .contact-form button {
    padding: 14px;
    background: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }
  
 
  @media (max-width: 900px) {
    .contact-container {
      grid-template-columns: 1fr;
    }
  
    .contact-image img {
      height: 300px;
    }
  }
  .contact-form h2,
  .contact-form p {
    text-align: center;
  }
  